.list-view {
    -fx-background-color: -fx-background;
    -fx-padding: 1;
}

.list-cell {
    -fx-padding: 1.0em 1.0em 1.0em 1.0em;
}
.list-cell:odd {
    -fx-background: -fx-control-inner-background-alt;
}

.list-cell:even {
    -fx-background: -fx-control-inner-background;
}